.login-page {
  width: 300px;
  margin:0 auto;
  display: block;
}

.login-page .panel-heading {
  border-color: #cfdbe2;
  background-color: #3a3f51;
  color: #fff;
  border-bottom: 0 none;
  font-size: 14px;
  border-bottom: 1px solid transparent;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  padding: 10px 15px;
}

.login-page .panel {
  background-color: #fafafa;
  border: 1px solid transparent;
  border-radius: 4px;
  margin-bottom: 21px;
}
