.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

body {
  padding: 0;
  font-family: "Source Sans Pro", sans-serif;
}

/* Everything but the jumbotron gets side spacing for mobile first views */
.footer {
  padding-left: 15px;
  padding-right: 15px;
}

/* Custom page header */
.header {
  border-bottom: 1px solid #e5e5e5;
  margin-bottom: 10px;
}
/* Make the masthead heading the same height as the navigation */
.header h3 {
  margin-top: 0;
  margin-bottom: 0;
  line-height: 40px;
  padding-bottom: 19px;
}

.nav-pills > .active > a {
  text-decoration: none;

  border-radius:0px;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #4285f4;
  color: #4285f4 !important;
  background-color: transparent !important;
}

.nav-pills > li > a:hover {
  text-decoration: none;
  border-radius:0px;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: gray;
  color: black !important;
  background-color: transparent !important;
}
.nav-pills > li > a{
  border-radius:0px;
  color: gray !important;
}

.nav-pills {
  font-size: 12px;
  line-height: 0;
}

 .project-panel-heading {
  font-weight: bold;
  font-size: 1.2em;
}

.panal-body-border {
  border-bottom: 1px solid #ddd;
  padding: 12px;
}
.panel-body-no-padding {
  padding-bottom: 0px;
  background-color: #fafbfc;
}

.panel-footer .pager {
  margin: 0;
}

.header .navbar-search {
  background-color: rgba(255,255,255,0.125);
  outline: none;
  border: none !important;
 -webkit-box-shadow: none !important;
 -moz-box-shadow: none !important;
  box-shadow: none !important;
  color:#fff;
  min-width: 315px !important;
}

.project-heading {
  margin-top: 3px;
}

.pointer-link {
  cursor: pointer;
}

.pointer-link:focus, .pointer-link:hover {
  color: #555;
  text-decoration: none;
  background-color: #f5f5f5;
}

.badge {
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 35px;
}
.hopsworks-badge {
  background-color: #f89406;
  font-family: sans-serif;
  z-index: 100;
  position: absolute;
  top: -10px;
  right: 6px;
  white-space: nowrap;
}

.hopsworks-brand {
  font-family: Lobster;
  font-size: 30px;
  color: #fff !important;
}

.hopsworks-brand > img {
  margin-left:10px;
  opacity: 0.5;
}

.nav-profile-img {
  display: inline-block;
  overflow: hidden;
  line-height: 1;
  vertical-align: middle;
  border-radius: 3px;
}

.navbar {
  border-radius: 0 !important;
  margin-bottom: 0 !important;
}

.dropdown-menu > li > a > i {
  margin-top: 3px;
}

/* Custom page footer */
.footer {
  padding-top: 19px;
  color: #777;
  border-top: 1px solid #e5e5e5;
}

.footer .marker-hops {
  left: 50%;
  width: 25;
  opacity: 0.2;
}

.container-narrow > hr {
  margin: 30px 0;
}

.container-body {
  min-height: 800px;
}

.container-full-width {
  width: 100%;
}

.container-full {
  width: 100%;
  height: 100%;
  padding: 0px;
}

/* Main marketing message and sign up button */
.jumbotron {
  text-align: center;
  border-radius: 0px !important;
  border-bottom: 1px solid #e5e5e5;
  background-color: #98AFC7; /*#7D32B4;/* #AFB8DD; /*#737CA1; #4B0082; #151B54;*/
  background-size: cover;
  background-image: url("../images/network.png");

}
.jumbotron .btn {
  font-size: 15px;
  padding: 14px 24px;
}

.jumbotron > h1 {
  font-size: 36px;
}

.jumbotron-close {
  float: right;
  cursor: pointer;
  margin-top: -20px;
}

.jumbotron-close > a {
  font-size: 12px;
  font-weight: normal;
  cursor: pointer;
  text-decoration: none;
}

/* Supporting marketing content */
.marketing {
  margin: 40px 0;
}
.marketing p + h4 {
  margin-top: 28px;
}

.carousel-caption {
  background-color: transparent;
  position: static;
  padding: 0 20px;
}
.carousel-caption h2,
.carousel-caption .lead {
  margin: 0;
  line-height: 1.25;
  color: #fff;
  text-shadow: 0 1px 1px rgba(0,0,0,.4);
}

.carousel-caption h2 {
  font-weight: bold;
}

.btn-carousel {
  margin-top: 10px;
}
.carousel-control {
  margin-top: 0;
  font-size: 80px;
  text-shadow: 0 1px 1px rgba(0,0,0,.4);
  background-color: transparent;
  border: 0;
  z-index: 10;
  opacity: 0.2;
}

.carousel-control:hover {
   opacity: 0.5;
}

.carousel-indicators {
  top: 105%;
}

.hopsworks-newsfeed > h4 {
  font-weight: bold;
}

.hopsworks-newsfeed > p {
  font-size: 16px;
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {

  /* Remove the padding we set earlier */
  .header,
  .marketing,
  .footer {
    padding-left: 0;
    padding-right: 0;
  }
  /* Space out the masthead */
  .header {
    margin-bottom: 30px;
  }
  /* Remove the bottom border on the jumbotron for visual effect */
  .jumbotron {
    border-bottom: 0;
  }
}
