.publicdataset-nav {
    background: #f7f7f7;
    float: left;
    margin-right: 40px;
    overflow-x: hidden;
    overflow-y: auto;
    padding-top: 10px;
    width: 256px;
    min-height: 875px;
    max-height: 875px;
    position: absolute;;
}

.publicdataset-nav > ul {
  list-style: none;
  margin-left: -25px;
}

.publicdataset-nav .publicdataset-heading {
  font-size: 16px;
  padding-left: 0px;
  font-weight: bold;
}

.publicdataset-nav > ul .dropdown > a {
  color: #262626;
  text-decoration: none;
}

.publicdataset-nav .dropdown-menu {
    position: relative;
    width: 100%;
    border-radius: 0;
    border: none;
    background-color: #f7f7f7;
    box-shadow: none;
}

.publicdataset-nav > ul > li {
  padding-left: 10px;
}

.publicdataset-nav-item {
    cursor: pointer;
}

.publicdataset-nav .dropdown-menu > form > li {
    padding-left: 15px !important;
}
.publicdataset-nav .dropdown-menu > form > li > span > a {
    cursor: pointer;
    color: #262626;
    text-decoration: none;
}

.publicdataset-nav .dropdown-menu > form > li > span > a:hover {
    cursor: pointer;
    color: #039be5;
    text-decoration: none;
}

.publicdataset-nav-text {
    display: inline-block;
    max-width: calc(100% - 10px);
    overflow: hidden;
    text-overflow: ellipsis;
    vertical-align: bottom;
    padding-top: 8px;
}

.publicdataset-nav-item::before {
    content: "\f0da";
    font-family: FontAwesome;
    color: #bdbdbd;
    padding-right: 0.5em;
}

.open > a.publicdataset-nav-item::before {
    content: "\f0d7";
    font-family: FontAwesome;
    color: #bdbdbd;
    padding-right: 0.35em;
}

.publicdataset-view {
  margin-left: 295px;
  position: relative;
}

.publicdataset-view-heading {
  float: left;
  text-overflow: ellipsis;
  max-width: 70%;
}

.publicdataset-view-rating {
  float: right;
  padding-top: 12px;
  max-width: 30%;
}

.publicdataset-view-content {
  width: 100%;
  margin-top: 20px;
}

#publicdataset::-webkit-scrollbar-track {
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	background-color: #F5F5F5;
}

#publicdataset::-webkit-scrollbar {
	width: 4px;
	background-color: #F5F5F5;
}

#publicdataset::-webkit-scrollbar-thumb {
	background-color: rgba(0,0,0,.26);
}
