<div ng-init="jumbotronClose = false">
  <div class="jumbotron" ng-show="jumbotronClose == false">
    <div class="jumbotron-close">
      <a ng-click="jumbotronClose = true" title="click to minimize"><span>&times;</span> Dismiss</a>
    </div>
    <div id="myCarousel" class="carousel slide">
        <div class="carousel-inner">
          <div class="item active">
            <div class="container">
              <div class="carousel-caption">
                <h2>Spark Tour.</h2>
                <p class="lead">Apache Spark™ is a fast and general engine for large-scale data processing.</p>
                <a class="btn btn-large btn-warning btn-carousel" href="#">Start tour</a>
              </div>
            </div>
          </div>
          <div class="item">
            <div class="container">
              <div class="carousel-caption">
                <h2>Kafka Tour.</h2>
                <p class="lead">Kafka™ is used for building real-time data pipelines and streaming apps.</p>
                <a class="btn btn-large btn-warning btn-carousel" href="#">Start tour</a>
              </div>
            </div>
          </div>
          <div class="item">
            <div class="container">
              <div class="carousel-caption">
                <h2>Zeppelin Tour.</h2>
                <p class="lead">Apache Zeppelin™ A web-based notebook that enables interactive data analytics.</p>
                <a class="btn btn-large btn-warning btn-carousel" href="#">Start tour</a>
              </div>
            </div>
          </div>
          <div class="item">
            <div class="container">
              <div class="carousel-caption">
                <h2>Public Datasets.</h2>
                <p class="lead">Dela is a peer to peer dataset sharing app.</p>
                <a class="btn btn-large btn-warning btn-carousel" href="#!/publicDataset">Explore</a>
              </div>
            </div>
          </div>
        </div>
        <a class="left carousel-control"  data-target="#myCarousel" data-slide="prev">‹</a>
        <a class="right carousel-control" data-target="#myCarousel" data-slide="next">›</a>
        <ol class="carousel-indicators">
          <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
          <li data-target="#myCarousel" data-slide-to="1"></li>
          <li data-target="#myCarousel" data-slide-to="2"></li>
          <li data-target="#myCarousel" data-slide-to="3"></li>
        </ol>
      </div><!-- /.carousel -->
  </div>

  <div class="row">
    <div class="col-md-8 hopsworks-newsfeed">
      <h4>Discover interesting datasets</h4>
      <p>You can use the search or <a href="#!/publicDataset">goto public datasets</a> to discover what people are sharing.</p>
      <h4>Discover interesting projects</h4>
      <p>You can also search for projects and send the owner a request to join thier project.</p>
      <h4>Explore hopsworks</h4>
      <p>Explore hopsworks by taking one of our <a>tours.</a></p>
      <h4>Need help</h4>
      <p>If you need help or want to report a bug goto <a>click here.</a></p>
    </div>

    <div class="col-md-4">
      <div class="panel panel-default">
        <div class="panel-heading clearfix">
          Projects <span class="badge">2</span>
          <div class="pull-right">
              <a href="#" class="btn btn-success">New project</a>
          </div>
        </div>
        <div class="panel-body panel-body-no-padding" style="">
          <form class="form">
            <div class="form-group">
              <input type="text" class="form-control navbar-search" placeholder="Search projects ...">
            </div>
          </form>
          <ul class="nav nav-pills" ng-init="activeAll = true; activeOwn = false; activeOwner = false; activeScientist = false;">
            <li ng-class="{active: activeAll}">
              <a ng-click="activeAll = true; activeOwn = false; activeOwner = false; activeScientist = false;">All</a>
            </li>
             <li ng-class="{active: activeOwn}">
               <a ng-click="activeAll = false; activeOwn = true; activeOwner = false; activeScientist = false;">Owner</a>
             </li>
             <li ng-class="{active: activeOwner}">
               <a ng-click="activeAll = false; activeOwn = false; activeOwner = true; activeScientist = false;">Data owner</a>
             </li>
             <li ng-class="{active: activeScientist}">
               <a ng-click="activeAll = false; activeOwn = false; activeOwner = false; activeScientist = true;">Data scientist</a>
             </li>
          </ul>
        </div>
        <div class="panel-body">
          <i style="font-size: 20px;" class="fa fa-unlock-alt pull-left" title="My own project"></i>
          Project1
        </div>
        <div class="panel-body">
          <i style="font-size: 20px;" class="fa fa-lock pull-left" title="Project I am a member of"></i>
          Project2
        </div>
        <div class="panel-footer clearfix">
          <nav aria-label="...">
            <ul class="pager">
              <li class="previous"><a href="#"><span aria-hidden="true">&larr;</span> Previous</a></li>
              <li class="next"><a href="#">Next <span aria-hidden="true">&rarr;</span></a></li>
            </ul>
          </nav>
        </div>
      </div>
    </div>
  </div>
</div>
